# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.

# web application files
answer-core/web-app/WEB-INF/classes

# default HSQL database files for production mode
answer-core/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
answer-core/stacktrace.log
answer-core/test/reports
answer-core/logs

# project release file
answer-core/*.war

# plugin release files
answer-core/*.zip
answer-core/plugin.xml

# older plugin install locations
answer-core/plugins
answer-core/web-app/plugins

# "temporary" build files
answer-core/target

.classpath
.project
.settings

*sublime-*
answer-core/target-eclipse
